*{
    padding: 0;
    margin:0;
    color: #0B2027;
    text-align: center;
}



html, body{
    background-color: #000000;
    background: linear-gradient(to right, red, black);
    background: -prefix-linear-gradient(left, red, black);
}


.main-container{
    float: center;
    align-items: center;
    word-break:break-all;
    margin-left: 8rem;
    margin-right: 8rem;
    background-color: #FFFF;
    border: 4px solid rgb(255, 255, 255);
    
}

nav, section, footer, article, head, aside{
    
    margin:0;
    padding :1rem;
    padding-top:1rem;
}
article, aside{
    width: 40%;
    display: inline-block;
    
    
}
section{
    border-bottom: 2px solid rgb(55, 122, 100);
}

.encabezado{
    background-color: rgb(76, 89, 211);
    
}
.videojuegos{
    background-color: rgb(21, 117, 134);
}
.titulo{
text-align:left;
}
.texto{
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.musica{
    background-color: red;
}
.anime{
    background-color: blueviolet;
}